<!DOCTYPE html PUBLIC "-//W3C//DTD XHTML 1.0 Transitional//EN" "http://www.w3.org/TR/xhtml1/DTD/xhtml1-transitional.dtd">
<html xmlns="http://www.w3.org/1999/xhtml">
<head>
  <meta http-equiv="Content-Type" content="text/html; charset=utf-8" />
  <title>You Purchased the NFT</title>
</head>
<body>
<table width="600" border="0" align="center" style="padding:0px; background-color:#f3f4f5; font-family:Arial, Helvetica, sans-serif; font-size:13px; color:#333; border: 1px solid #ccc;">
  <tr style="background-color: #234480;">
    <td align="center" style="padding: 20px 0;" colspan="3"><a href="#"><img width=""  ></a></td>
  </tr>
  <tr>
    <td style="padding:0 10px;" colspan="3">
      <div style="width: 80%; background-color: #fff; border-bottom: 2px solid #e3e6e9; padding: 20px; margin: 30px auto">
        <!--            <h1 style="color: #4f687a; font-size: 18px;">Hello User </h1>-->
        <h1 style="color: #4f687a; font-size: 18px;">Thanks for Purchasing the NFT.</h1>
        <p>You can check your Transaction by Clicking on the Below Link</p>
        <a href="https://explorer.solana.com/tx/<%= @tx_id %>?cluster=devnet">Transaction Detail</a>
      </div>
    </td>
  </tr>
  <tr>
    <td style="padding:5px 10px;" colspan="2">
      <hr style="background-color: #ddd; color: #ddd" >
    </td>

  </tr>
  <tr>
  </tr>
  <tr style="background-color: #234480; color: #fff; border: 0;">
    <td style="padding: 15px;" colspan="3" align="center">
      <a href="mailto:support@realosity.zendesk.com" style="color: #fff; text-decoration: none;">clay@commitgood.com</a>
    </td>
  </tr>
</table>
</body>
</html>