<!-- begin Footer -->
<footer class="footer-home">
  <div class="container">
    <div class="row">
      <div class="col-md-3 text-center" style="margin: 15px 0">
        <a href="http://eepurl.com/cIC4kv" class="btn btn-make-donation" style="width: 200px;line-height: 14px;height: 40px;line-height: 36px;margin: 0;">Signup For Newsletter</a>
      </div>
      <div class="col-md-3 text-center" style="margin: 15px 0">
        <!-- <button id="donateToChamberBtn" class="btn btn-make-donation" style="width: 200px;line-height: 14px;height: 40px;line-height: 36px;margin: 0;">Make Donation</button> -->
        <%= link_to "Make donation",  new_chamber_donation_path, id:"", class: "btn btn-make-donation", style: "width: 200px;line-height: 14px;height: 40px;line-height: 36px;margin: 0;" %>
      </div>
      <div class="col-md-3 text-center" style="margin: 15px 0">
        <%= link_to "Contact Support",  new_contact_form_path, id:"", class: "btn btn-make-donation", style: "width: 200px;line-height: 14px;height: 40px;line-height: 36px;margin: 0;" %>

        <!-- <%= mail_to 'support@sc-c3.org', 'Contact Support', class: 'btn btn-make-donation', style:"width: 200px;line-height: 14px;height: 40px;line-height: 36px;margin: 0;"%> -->
      </div>
      <div class="col-md-3 text-center" style="margin: 15px 0">
        <a href="https://s3.amazonaws.com/sc-c3/Mail_Form.pdf" class="btn btn-make-donation" style="width: 200px;line-height: 14px;height: 40px;line-height: 36px;margin: 0;">Pay by Check</a>
      </div>
    </div>
    <div class="row">
      <p class="">Copyright 2017 &copy; SC Christian Chamber of Commerce</p>
    </div>
    <div class="row">
      <ul class="social-icons" style="margin: 10px auto; width: 133px;">
        <li>
            <a href="https://www.facebook.com/scchristianchamber/" data-original-title="facebook" class="facebook" target="_system"> </a>
        </li>
        <li>
            <a href="https://twitter.com/SCChristianC1" data-original-title="twitter" class="twitter" target="_system"> </a>
        </li>
        <li>
            <a href="https://www.instagram.com/scchristianchamber/" data-original-title="instagram" class="instagram" target="_system"> </a>
        </li>
        <li>
            <a href="https://www.youtube.com/channel/UCom9kG5pqSGLkBb1qGIMiNg" data-original-title="youtube" class="youtube" target="_system"> </a>
        </li>
        <!-- <li><a href="javascript:;" data-original-title="linkedin" class="linkedin"> </a></li> -->
      </ul>
    </div>

  </div>
</footer>
<!-- end Footer -->
