<div class="col-12 col-md-10 offset-md-1 col-lg-8 offset-lg-2" id="rewards">
	<h3>Governance & Dynamic Rewards</h3>
	<ul class="list-unstyled">
		<li>
			<i class="fa fa-check text-primary" aria-hidden="true"></i>
			<div class="extra-wrap">
				<b>Charity </b>
				<ul style="padding-left: 15px;">
			    <li style="margin-bottom: 0px;padding-left: 2px;">1 Fully funded project, execution of that project completed and signed off by Charity Coordinator so that its “certified” and sent to the blockchain (100 $GOOD).</li>
			    <li style="margin-bottom: 0px;padding-left: 2px;"> Receives $GOOD charitable donations.</li>
			    <li style="margin-bottom: 0px;padding-left: 2px;"> Receives 50% ($GOOD) of NFT purchase price per campaign they lead.</li>
			    <li style="margin-bottom: 0px;padding-left: 2px;"> Receives 10% of NFT resale purchase, from previous campaigns, for life of NFT.</li>
			  </ul>
			</div>
		</li>

		<li>
			<i class="fa fa-check text-primary" aria-hidden="true"></i>
			<div class="extra-wrap">
				<b>Charity Coordinator</b>
				<ul style="padding-left: 15px;">
			    <li style="margin-bottom: 0px;padding-left: 2px;">Successfully Register 10 Charities and 2 Fully Funded Campaigns.</li> 
			    <li style="margin-bottom: 0px;padding-left: 2px;">For 10 Charities they will receive (100 $GOOD) and 2 Fully Funded Campaigns (200 $GOOD).</li>
			    <li style="margin-bottom: 0px;padding-left: 2px;">The $GOOD will be held in escrow and released once both milestones are complete.</li>
			    <li style="margin-bottom: 0px;padding-left: 2px;">Once released the Charity Coordinators are eligible for another round of milestone $GOOD rewards.</li>
			    <li style="margin-bottom: 0px;padding-left: 2px;">Per charitable project they are assisting, they will receive an immediate 2% ($GOOD) of NFT purchase price.</li>
		  	</ul>
			</div>
		</li>

		<li>
			<i class="fa fa-check text-primary" aria-hidden="true"></i>
			<div class="extra-wrap">
				<b>Volunteer</b>
				<ul style="padding-left: 15px;">
				  <li style="margin-bottom: 0px;padding-left: 2px;">Successfully complete 40 hours of verified service through the Commit Good mobile app (400 $GOOD)</li>
    			<li style="margin-bottom: 0px;padding-left: 2px;">$GOOD is held in escrow until 40 hours are reached.</li>
  			</ul>
			</div>
		</li>

		<li>
			<i class="fa fa-check text-primary" aria-hidden="true"></i>
			<div class="extra-wrap">
				<b>NFT Creator</b>
				<ul style="padding-left: 15px;">
				  <li style="margin-bottom: 0px;padding-left: 2px;">Creates NFT images that are specific to a particular charitable campaign and determines the initial price.</li>
			    <li style="margin-bottom: 0px;padding-left: 2px;">Receives 40% ($GOOD) of NFT purchase price.</li>
			    <li style="margin-bottom: 0px;padding-left: 2px;">Receives 10% ($GOOD) of NFT resale price for life of NFT.</li>
			  </ul>
			</div>
		</li>
	</ul>
</div>