.tool-box{
  .youtube-icon-link{
    display: inline-block;
  }


  .resource{
    margin: 0 auto 30px;
    border: 1px solid #e4e9ef;

    img{
      object-fit: cover;
    }
  }
  .resource:hover{
    border-color: #85c1b4;
    -webkit-box-shadow: 0 0 10px #85c1b4;
    box-shadow: 0 0 10px #85c1b4;
  }
}
