<article id="members" style="background: white; padding-top: 70px;">
  <div class="container">
    <h2>Fundraisers</h2>
    <h3 style="padding-bottom:30px">Checkout a list of campaigns near you. Help people in need.</h3>


      <div class="col-sm-4 col-sm-offset-4">
        <%= link_to campaigns_path, class: "donation-item member-container", style: "border-radius: 8px" do %>
        <%= image_tag("tool-box-images/documents.jpg", style: "border-radius: 8px 8px 0 0;") %>
        <div class="member-link-text">
          Fundraisers
        </div>
        <% end %>
    </div>

  </div>
</article>
