<!-- begin store preview -->
<article class="partners" id="store-preview">
  <div class="container">
    <h2>The Shop</h2>
    <h3>Checkout the new Sc-c3 swag in the shop.</h3>
    <div class="row" style="padding-top: 50px;">
      <div class="col-md-3 col-sm-6" style="padding-top: 5px;">
        <figure><a href="#"><img src="//placehold.it/390x390"></a></figure>
      </div>
      <div class="col-md-3 col-sm-6" style="padding-top: 5px;">
        <figure><a href="#"><img src="//placehold.it/390x390"></a></figure>
      </div>
      <div class="col-md-3 col-sm-6" style="padding-top: 5px;">
        <figure><a href="#"><img src="//placehold.it/390x390"></a></figure>
      </div>
      <div class="col-md-3 col-sm-6" style="padding-top: 5px;">
        <figure><a href="#"><img src="//placehold.it/390x390"></a></figure>
      </div>
    </div>
    <div class="dnt-button" style="text-align:center"><a href="donations.html" class="btn btn-dark">View More</a></div>

  </div>
</article>
<!-- end store preview -->
