<div class="row">
  <div class="col-md-12">
    <p>Congratulations <%= @vol_name %> for being selected for the project <%= @campaign_name%></p>
  </div>
</div>
<br>
<div class="row">
<!--  <a class="btn btn-warning" href="http://localhost:3000/volunteer/campaigns">Goto List</a>-->
</div>