<h4> As part of our partnership with Financial Trading Group we are awarding a monthly project that receives the most votes with an award of 58, 823 $GOOD. </h4>
<ol>
  <li>The Currency of Good monthly winner promotion is subject to our Terms and Conditions <a class="currency-doc" href="https://commitgood.com/docs/commit-good-terms-and-conditions.pdf">https://commitgood.com/docs/commit-good-terms-and-conditions.pdf</a></li>
  <li>The project that receives the most votes during the month of the project end date receives the $GOOD award.</li>
  <li>$GOOD award with be sent to the winning charity’s digital wallet within 30 days.</li>
  <li>If two or more charities receive an equal amount of votes the monthly award will be split accordingly.</li>
  <li>Charities are allowed to enter more than one project and allowed to win multiple months if they receive the largest number of votes.</li>
</ol> 
<div id="new-winner">      
  <%= render "get_winner" %>
</div>