<h1>New Job Led</h1>

<p>
  User <%= @job_lead.user.display_name %> submit Job Lead.
</p>

<p>
  Name: <%= @job_lead.name %>
  <br>
  Email: <%= @job_lead.email %>
  <br>
  Profession title: <%= @job_lead.profession_title %>
</p>