<!DOCTYPE html>
<html>
<head>
  <title>Event Badges</title>

    <%= stylesheet_link_tag  'landing_page', media: 'all' %>
    <style>
      table, tr, td, th, tbody, thead, tfoot {
        page-break-inside: avoid !important;
      }
    </style>
</head>
<body>
  <%= yield %>
</body>
</html>
